- if bookmark.page
  =render :partial => 'pages/list/page', :object => bookmark.page
-elsif bookmark.external?
  = bookmark.description
  =link_to bookmark.url, bookmark.url, :class => 'external'

-#= link_to 'Destroy', object_path(bookmark), :confirm => 'Really destroy bookmark?', :method => :delete
