-#- if bookmark.external?
  -#=link_to bookmark.url, bookmark.url, :class => 'external'
  = bookmark.description
-#-else
=render :partial => 'pages/list/page', :object => bookmark.page

-#= link_to 'Destroy', object_path(bookmark), :confirm => 'Really destroy bookmark?', :method => :delete
