%p
  %label{:for => "bookmark_url"} Url:
  = f.text_field :url
%p
  %label{:for => "bookmark_description"} Description:
  = f.text_area :description
%p
  %label{:for => "bookmark_page_id"} Page:
  = f.text_field :page_id
