- content_for :title do
  - if @me || @person
    = icon_for( (@me||@person), :size => 'medium' )
    %h1.medium 
      - if @me 
        Your bookmarks
      - elsif @person
        = @person.display_name
        \: Bookmarks
  - else
    %h1
      Bookmarks


.content-list.main
  %ul.list
    = render :partial => 'bookmark', :collection => @bookmarks
-#= render :partial => '/pages/list/page', :collection => @me.bookmarks 
