- content_for :title do
  = icon_for( @me, :size => 'medium' )
  %h1.medium Your bookmarks


= render :partial => 'bookmark', :collection => current_objects

.content-list.main
  %ul.list
-#= render :partial => '/pages/list/page', :collection => @me.bookmarks 
