.message.show
  .body
    = GreenCloth.new(message.body).to_html

- if current_user.may?( :reply, message ) and message.sender != current_user
  .section.reply
    - reply = Message.new :recipient => message.sender
    - form_for :message, reply, :url => person_messages_path(message.sender) do |f|
      = render :partial => 'messages/form', :locals => {:f => f, :message => reply }
      %p.submit
        = f.submit "Send Reply"

