- content_for :title do
  -#.toolbar.title-menu
    .icon
      = link_to 'Send message', new_message_path, :class => 'action message'
  = icon_for( @me, :size => 'medium' )
  %h1.medium
    Your messages

.landing.inbox
  #inbox-list
    %ul.section.plain
      = render :partial => 'inbox/list/message', :collection => @messages
