%h1
  = controller.controller_name.pluralize.humanize
.section.search
  -form_tag('', :method => :get) do 
    =text_field_tag :query, h( params[:query])
    =submit_tag 'Search Content'
.content-list.main
  = will_paginate(@pages)
  %ul.list
    = render :partial => 'pages/list/page', :collection => @pages
  = will_paginate(@pages)
