-if current_user.may? :admin, person
  - if person == current_user
    .icon
      = link_to 'Edit', edit_me_profile_path, :class => 'action edit'
  - else
    .icon
      = link_to 'Edit', edit_person_profile_path(person), :class => 'action edit'

.clear
= render :partial => 'people/menu', :locals => { :person => person }
