<blockquote>
<table class='page-list'>
<% unless @requests.any? -%>
  <tr><td colspan="10">no requests</td></tr>
<% else -%>
<% @requests.each do |req| -%><%# hello partial %>
<tr class="<%= cycle('shade-odd', 'shade-even') %>">
    <td><%= req.contact.login %></td>
    <td><%= link_to 'approve', :action => 'approve', :id => req, :method => :post %></td>
    <td><%= link_to 'reject', :action => 'reject', :id => req, :method => :post %></td>
</tr>
<% end -%>
<% end -%>
</blockquote>
