.sessions.new
  .section
    %h1 Join the Green Change Network 
    .section
      %p
        We are a community of people with Green values.
      %p
        We bet you'll like our network better than Facebook and MySpace.  Unlike other networks, we:
      %ul
        %li
          Believe in grassroots democracy, justice, sustainability and non-violence;
        %li
          Are commercial-free; and
        %li
          Aren't owned by a greedy corporation.
      %p
      = link_to 'Sign up here', new_account_path
      to get started.

- content_for :sidebar_header do
  = render :partial => 'form'
