.section.inbox
  %ul
    %li
      You have 
      = link_to @user.unread_messages.count, me_inbox_path
      new messages
    %li
      You have
      = link_to @user.membership_requests_received_and_pending.size, me_inbox_path
      new group invitaions 
    %li
      You have 
      = link_to @user.contact_requests_received.pending.count, me_inbox_path
      new contact requests
