<h2><%= link_to image_tag('/images/actions/rss.png', :align => "right"), groups_url(:action => 'files_rss', :id => @group) %>Recent Files and Documents</h2>
<%
  pages = Page.find_by_path('/type/asset/or/type/wiki', options_for_group(@group))
  columns = [:icon, :title, :created_by, :created_at]
%>
<%= render :partial => 'pages/list/table', :locals => {:pages => pages, :columns => columns} %>

<%= link_to 'more &raquo;', groups_url(:id => @group, :action => 'search') + "/type/asset/or/type/wiki" %>
