.group-profile
  %ul.plainlist
    %li
      Members:
      = @group.members.count
      -#      by
      -#      = @group.user_founded
      -#    %li
      -#      Location:
      -#      - #= @group.location
    - unless @group.issues.empty?
      %li
        Issues:
        = render :partial => 'shared/icon/issue', :collection => group.issues
    - unless @group.tags.empty?
      %li
        Tags:
        = @group.tags.map { |tag| render :partial => 'shared/tag', :locals => { :tag => tag } }.join(', ')
  .clear
  = simple_format @group.summary
