
<h5><%= link_to(blog.title, page_url(blog) ) %>  <%= page_icon(blog) %></h5>

<div class="summary"><%= blog.summary  %></div>
<div >
	by <!--<%= render :partial => 'avatars/person', :object => blog.created_by %>--> <%= link_to_user(blog.created_by) %> posted <%= friendly_date(blog.created_at) %>
</div>
<div>Issues:  |   Tags:  </div
<div>Comment(#)</div>
<hr>