.icon{ :class => (person.online? ? 'online':'')}
  = link_to person.name, person_url(person), html_options_for_icon_for( person, :size => (local_assigns[:size] ||'standard'), :class => 'name-bottom' ) 
