.icon{ :class => (logged_in? && person.online? && person.searchable? ? 'online':'')}
  - padding = content_tag :span, content_tag( :span, '', :class => 'online_inner_padding'), :class => 'online_padding'
  - linked_name = content_tag :span, person.display_name, :class => 'person_name_link'
  = link_to padding + linked_name, person_url(person), html_options_for_icon_for( person, :size => (local_assigns[:size] ||'standard'), :class => 'name-bottom' )
  -#-if scoped_by_context? == @me  && scoped_by_context?
    %br
    .toolbar
      =link_to 'message'
      |
      =link_to 'remove'
