-content_for :title do
  .toolbar.title-menu
  = icon_for @me
  %h1.medium Edit my profile

.profile.edit
  - form_for :profile, @profile, :url => { :action => :update }, :html => { :method => :put, :multipart => true }  do |f|
    = render :partial => 'form', :locals => { :f => f, :profile => @profile }
    %p.submit
      = f.submit 'Save changes'.t, :name => 'update', :class => 'submit'
