\------------------

= @message



\-----------------
If you do not wish to receive further email from the Green Change Network, please 
= link_to 'opt out', block_email_url(:retrieval_code => @recipient.retrieval_code, :host => Crabgrass::Config.host)#"http://network.greenchange.org/block_email/#{@recipient.id}"
