Come and check out the Green Change Network at http://network.greenchange.org. 
It is not open yet to the general public.  

Even though there are a few bugs and bumps being worked out, you will love it.
\------------------

= @message



\-----------------
If you do not wish to receive further email from the Green Change Network, please 
= button_to 'opt out', block_email_url(@recipient)#"http://network.greenchange.org/block_email/#{@recipient.id}"
