-#%h1 People
- unless scoped_by_context?
  -if logged_in?
    -#%h3 My contacts
    -#.workarea
      -if @people
        .icon-box
          =render :partial => 'shared/list/person', :collection => @people
      -else
        You have no contacts
      .clear
    -#%h1 
      People in my groups 
      -#%span.normal
        \(users I share a common group with)
      .workarea
        -if @peers
          .icon-box
            =render :partial => 'shared/list/person', :collection => @peers
        -else
          You have no peers
      .clear
  %h1 Everyone 
  .workarea
    .icon-box
      =render :partial => 'shared/list/person', :collection => User.enabled.find(:all, :limit => 300)
    .clear
- else
  .workarea
    .icon-box
      =render :partial => 'shared/list/person',  :collection =>@people
    .clear    
