- content_for :title do
  %h1
    - if scoped_by_context?
      - if scoped_by_context? == current_user
        Your contacts
      - elsif @issue
        People concerned about
        = scoped_by_context?.display_name.downcase
      - elsif @group
        Members of 
        = scoped_by_context?.display_name 
      - else
        People connected to 
        = scoped_by_context?.display_name 
    - else
      Everyone 

.section
  .icon-box
    =render :partial => 'shared/list/person', :collection => @people
  .clear
