%h1 People
  -if logged_in?
    %h3 My contacts
    .workarea
      -if @contacts
        =render :partial => 'user', :collection => @contacts
      -else
        You have no contacts
      .clear
    %h3 My peers <span class='normal'>(users I share a common group with)</span>
    .workarea
      -if @peers
        =render :partial => 'user', :collection => @peers
      -else
        You have no peers
      .clear
  %h3 All people
  .workarea
    =render :partial => 'user', :collection => User.find(:all, :limit => 300)
    .clear

