.byline
  %label.name
  - if page.discussion and !page.discussion.posts.empty?
    Last Post:
    = friendly_date( page.discussion.posts.find( :first, :order => "created_at DESC" ).created_at )
    %label.particpants
      Participants:
    = page.discussion.participants.uniq.size
  - else
    No Posts
