.summary
  = simple_format issue.description
.description
  Number of Supporters:
  = link_to issue.users.count, issue_people_url(issue)
  %br
  Groups Working on this:
  = link_to issue.groups.count, issue_groups_url(issue)
