.section
  = issue.description
.clear
  Number of supporters: 
  = link_to issue.users.count, issue_people_url(issue)
  %br
  Groups working on this issue: 
  = link_to issue.groups.count, issue_groups_url(issue)
