
<div class='sidesection'>
<div class='sidehead'>Featured Groups</div>
<% if @issue.users.any? -%>
<%= render :partial => 'avatars/boxes', :locals => {:groups => @issue.groups, :side => "left"} %>
<% else -%>
(no groups)
<% end -%>

<div class='sidetail'></div>
</div>



<% if controller.action_name =='show' %>

<div class='sidesection'>
<div class='sidehead'>Media</div>
<%= render :partial => 'pages/list/media' %>
<div class='sidetail'></div>
</div>

<% end -%>







