<h2><%= link_to image_tag('/images/actions/rss.png', :align => "right"), issues_url(:action => 'action_rss', :id => @issue) %>Events and Action Alerts</h2>

<%= render :partial => 'pages/list/actions' %>