<h2><%= link_to image_tag('/images/actions/rss.png', :align => "right"), issue_url(:action => 'discuss_rss', :id => @issue) %>Discussions and Comments</h2>

<%= render :partial => 'pages/list/discussions' %>