%h1
  Issues
.landing
  - issues = Issue.find(:all, :order => 'name')
  .column  
    =render :partial => 'issue', :collection => column_1_of_2(issues)
  .column  
    =render :partial => 'issue', :collection => column_2_of_2(issues)
	
