.landing.landing-issue
  .issue_widget.section.profile
    =render :partial => 'issues/widgets/info'
  .issue_widget.section.promo
    = render :partial => 'issues/widgets/promo'
  .issue_widget.section
    = render :partial => 'issues/widgets/updates'

