<%= if logged_in?
  Formy.tabs do |f|
    f.tab do |t|
      t.label 'Show results'.t
      t.link poll_url(@page)
      t.selected params[:action] == 'show'
    end
    f.tab do |t|
      t.label 'Edit my vote'.t
      t.link edit_poll_url(@page)
      t.selected params[:action] == 'edit'
    end
  end
end
%>
