.section.issues
  %h2
    Issues
  .behavior-block
    - entries ||= []
    - all_issues = Issue.find(:all)
        
    .column
      = render :partial => 'me/profiles/sections/issue', :locals => { :profile => profile }, :collection => all_issues[0, (all_issues.size/2)]
    .column
      = render :partial => 'me/profiles/sections/issue', :locals => { :profile => profile }, :collection => all_issues[(all_issues.size/2),all_issues.size]
    
