.section.issues
  %h2
    Issues
  .behavior-block
    - all_issues = Issue.find(:all)
        
    .column
      = render :partial => 'me/profiles/sections/issue', :locals => { :profile => profile }, :collection => column_1_of_2(all_issues)
    .column
      = render :partial => 'me/profiles/sections/issue', :locals => { :profile => profile }, :collection => column_2_of_2(all_issues)
    
