.section
  %table
    %tr
      %td.label{ :valign => "top" }
        = _('Locations')
      %td.form
        %table
          %tbody#profile_locations
            - profile.locations.each_with_index do |location, index|
            = render :partial => 'location', :locals => { :location => location, :index => index }
            - end
        = add_row_link 'Add Location'.t, 'add_location'
