.section.locations
  %h2
    Locations
  .behavior-block.list
    - for location in locations
      = render :partial => 'me/profiles/sections/location', :locals => { :location => location, :f => f }
    = render :partial => 'me/profiles/sections/location', :locals => { :location => profile.locations.build, :f => f }

    .row
      .toolbar
        = link_to 'Add Location', new_me_profile_location_path, :class => 'remote new action'
