.section.web_resources
  %h2
    Web Services 
  .behavior-block.list
    - for web_resource in web_resources
      = render :partial => 'me/profiles/sections/web_resource', :locals => { :web_resource => web_resource, :f => f }
    = render :partial => 'me/profiles/sections/web_resource', :locals => { :web_resource => profile.web_resources.build, :f => f }
    .row
      .toolbar
        = link_to 'Add web service', new_me_profile_web_resource_path, :class => 'remote new action'

