.section.web_services
  %h2
    Web Services 
  .behavior-block.list
    - for feeds in feeds
      = render :partial => 'me/profiles/sections/web_service', :locals => { :web_services => web_services, :f => f }
    = render :partial => 'me/profiles/sections/web_service', :locals => { :web_services => profile.web_services.build, :f => f }
    .row
      .toolbar
        = link_to 'Add web service', new_me_profile_web_services_path, :class => 'remote new action'

