= render :partial => 'profiles/form/list_item_default', :locals => { :item => email_address, :item_type => :email_address, :item_type_field => :email_type, :item_types_collection => ProfileHelper::EMAIL_TYPES.invert, :profile => profile }
