= render :partial => 'profiles/form/list_item_default', :locals => { :item => im_address, :item_type => :im_address, :item_type_field => :im_type, :item_types_collection => ProfileHelper::IM_TYPES, :item_type_label => 'IM username', :profile => profile } 
