= render :partial => 'profiles/form/list_item_default', :locals => { :item => phone_number, :item_type => :phone_number, :item_type_field => :phone_number_type, :item_types_collection => ProfileHelper::PHONE_TYPES, :profile => profile }
