.toolbar.tabs-menu
  -#
    .icon
      = link_to 'Create Page', new_polymorphic_path( [:issue, scoped_by_context?, :blog] ), :class => 'create action', :title => 'Create Page'
  -#.icon
    = link_to 'Subscribe to Updates', formatted_group_pages_url( source, :format => :rss ), :class => 'subscribe action', :title => 'Subscribe to Updates'

