- if group.members.any?
  .section
    .header
      Featured Members
    = render :partial => 'avatars/boxes', :locals => {:people => group.users, :side => "left"}
    %br.clear
    .link-line
      = link_to 'view all', group_memberships_url(group), :class => 'first'
