- if group.members.any?
  .section
    = link_to 'Members', group_people_path(group), :class => 'header'  
    .icon-box  
      = render :partial => 'shared/list/person', :collection => featured_users(group, 8 )

