- if @group.members.any?
  .section
    .header
      Featured Members
    = render :partial => 'avatars/boxes', :locals => {:people => @group.users, :side => "left"}
    %br.clear
    .link-line
      = link_to 'view all', "more_members_link", :class => 'first'
