@import colors

#titlebox
  :float left
  :width 100%
  .avatar
    :float left
  h1
    :padding-top 10px
    :width 300px
    :float left
    :margin 3px
  .title-menu
    :padding 1em
    :margin-top 1em
    :float left
  .section
    :float left

.landing
  :float left
  .section .list-item
    :background-image none
    .list-description
      :width = !main_column_width - 120px
      body.ie6 &
        :width = !main_column_width - 120px - !ie_padding_offset
      #main.wideside &
        :width = !main_column_wideside_width - 120px
        body.ie6 &
          :width = !main_column_wideside_width - 120px - !ie_padding_offset

  .column,
  .column .section
    :float left
    :width = !main_column_width / 2
      body.ie6 &
        :width = ( !main_column_width - !ie_padding_offset ) / 2
      #main.wideside &
        :width = ( !main_column_wideside_width ) / 2
        body.ie6 &
          :width = ( !main_column_wideside_width - !ie_padding_offset ) / 2

  .list-item
    :margin-bottom 12px
    :padding 4px 4px 4px 4px
    :background-color = !section_bg
    :width = !main_column_width - 8px
    body.ie6 &
      :width = !main_column_width - !ie_padding_offset - 8px
    #main.wideside &
      :width = !main_column_wideside_width - 8px
      body.ie6 &
        :width = !main_column_wideside_width - !ie_padding_offset - 8px

  .section
    :float left
    :width = !main_column_width
    body.ie6 &
      :width = !main_column_width - !ie_padding_offset
    #main.wideside &
      :width = !main_column_wideside_width
      body.ie6 &
        :width = !main_column_wideside_width - !ie_padding_offset

.list-item
  :display block
  :overflow hidden
  :float left

.list-thumb
  :float left
  :margin-right 1em

.list-description
  :float left
  :font-size 11px
  :padding-top 5px
  p
    :font-size 11px
    :margin-bottom 2px
  h3
    :margin 0
  .label
    :font-weight bold
    :float left
    :margin-right .5em

ul.page-attachments
  :padding 0
  :margin 0
  :float left
  :list-style none
  li
    :float left
    :margin-right 1em

ul.promos
  :list-style none
  :padding 0
  :margin 0
  :float left
  :width = !main_column_width
  body.ie6 &
    :width = !main_column_width - !ie_padding_offset
  #main.wideside &
    :width = !main_column_wideside_width
    body.ie6 &
      :width = !main_column_wideside_width - !ie_padding_offset

ul.tab-block
  :list-style none
  :padding 0
  :margin 0
  :float left
  :margin-top = !tab_block_title_offset + 3px

  :width = !main_column_width
  body.ie6 &
    :width = !main_column_width - !ie_padding_offset
  #main.wideside #maincolumn &
    :width = !main_column_wideside_width
    body.ie6 &
      :width = !main_column_wideside_width - !ie_padding_offset
  #main.wideside #bar & 
    :width = !side_column_wideside_width - 15px
    body.ie6 &
      :width = !side_column_wideside_width - !ie_padding_offset

  #main #bar & 
    :width = !side_column_width - 15px
    body.ie6 &
      :width = !side_column_width - !ie_padding_offset

  body.ie7 &
    :padding-bottom = !tab_block_title_offset
  li
    :width 100%
    :float left
    :clear both
  .tab-titlebar
    :background = !tab_block_title_bg
    :margin-top = 0 - !tab_block_title_offset
    body.ie6 &
      :margin-top 0
  .tab-title
    :text-transform uppercase
    :background = !tab_block_title_bg
    :color = !tab_block_title
    :font-size 14px
    :font-weight bold
    :float left
    :padding .25em
    :margin-right .1em

  .tab-content
    :float left
    :clear both
    :padding 0
    body.ie7 &
      .tab-content
        :margin-left 0px

    :width = !main_column_width 
    body.ie6 &
      :width = !main_column_width - !ie_padding_offset
    #main.wideside #maincolumn &
      :width = !main_column_wideside_width 
      body.ie6 &
        :width = !main_column_wideside_width - !ie_padding_offset
    #main.wideside #bar & 
      :width = !side_column_wideside_width - 15px
      body.ie6 &
        :width = !side_column_wideside_width - !ie_padding_offset
    #main #bar & 
      :width = !side_column_width - 15px
      body.ie6 &
        :width = !side_column_width - !ie_padding_offset


ul.tab-block.active
  :height = !tab_block_height
  :border 2px solid
    :color = !tab_block_title_border
  #bar &
    :height = !tab_block_sidebar_height
  body.ie6 &
    :border 0px
  .tab-content
    :overflow hidden
    :height = !tab_block_height
    #bar &
      :height = !tab_block_sidebar_height
    body.ie6 &
      :border 2px
      :margin-left 0px
  .tab-content.active
    :overflow-y scroll
    :overflow-x hidden
  .tab-title
    :background = !tab_block_title_border
    :color = !tab_block_title_bg
    :border 2px solid
      :color = !tab_block_title_border
      :bottom 0
    &:hover
      :background = !tab_block_title_border + !highlight_lighter 
      :color = !tab_block_title
      :cursor pointer
  .tab-title.active
    :background = !tab_block_title_bg
    :color = !tab_block_title
  .tab-title.disabled
    :background = !tab_block_title_bg
    :color = !tab_block_disabled
    :border-color = !tab_block_disabled_border
    &:hover
      :background = !tab_block_title_bg
      :color = !tab_block_disabled
      :cursor auto
  body.ie6 &
    div.tab-title.active
      :overflow hidden

ul.tab-block, #titlebox
  .toolbar
    :float right

.toolbar
  .offset-row.admin
    :clear both
    :padding-bottom .5em
    :background-color = !admin_toolbar_bg
    :border 1px solid
      :color = !admin_toolbar_border
    :float left 
  .icon
    :float left
    :overflow hidden
    :width 22px
    :height 22px
    :margin-right 3px
    &:hover
      :background-color = !toolbar_bg_hover
    .action
      :padding 22px 0 0 0
      :display block
      :float left
      :background-repeat no-repeat 
    input.action
      :height 50px
      :outline 0
      :border 0
      :background-color transparent
      :background-position 2px 2px
    a.create
      :background-position -5px -6px
      :background-image url(/images/actions/list-add.png)  
    a.subscribe
      :background-position 2px 2px
      :background-image url(/images/actions/rss.png)  
    a.edit
      :background-position 2px 2px
      :background-image url(/images/actions/edit.png)  
    a.invite
      :background-image url(/images/actions/announce.png)  
    .delete
      :background-image url(/images/actions/minus.png)  
    .chat
      :background-image url(/images/actions/bullhorn.png)  
  .add, .new
    :background-position 2px 2px
    :background-image url(/images/actions/plus.png)  
  
  a.action
    :padding 0 0 0 22px
    :float left
    :background-repeat no-repeat 
    &:hover
      :background-color = !toolbar_bg_hover
