@import colors

#titlebox
  :float left
  :width 100%
  :margin-top 1em
  :margin-bottom 1.5em
  .avatar
    :float left
  h1
    :padding-top 10px
    -#:width 300px
    :margin 3px
    :color #333333
    :font-size 18px
    :font-weight bold
  .title-menu
    :float left
  .section
    :float left
    :margin-left 5px
    :margin-top 5px
    .summary
      :float left
      :font-size 13px
      :color #333333
      :font-weight bold
      :padding 4px
      :background-color #EEEEEE
      -#:width 425px 
.landing
  .section .list-item
    :background-image none
    .list-description
      :width = !main_column_width - 120px
      body.ie6 &
        -#:width = !main_column_width - 120px - !ie_padding_offset
      #main.wideside &
        :width = !main_column_wideside_width - 120px
        body.ie6 &
          :width = !main_column_wideside_width - 120px - !ie_padding_offset
    .column .list-description
      #main.noside &
        :width = (!main_column_noside_width - 120px) / 2
        body.ie6 &
          :width = ( !main_column_noside_width - 120px - !ie_padding_offset ) / 2

  .column,
  .column .section
    :float left
    :width = !main_column_full_width / 2
    body.ie6 &
      :width = ( !main_column_full_width - !ie_padding_offset ) / 2
    #main.wideside &
      :width = ( !main_column_wideside_width ) / 2
      body.ie6 &
        :width = ( !main_column_wideside_width - !ie_padding_offset ) / 2
    #main.noside &
      :width = ( !main_column_noside_width ) / 2
      body.ie6 &
        :width = ( !main_column_noside_width - !ie_padding_offset ) / 2
  .list-item
    :margin-bottom 12px
    :padding 4px 4px 4px 4px
    :width = !main_column_width - 8px
    body.ie6 &
      :width = !main_column_width - !ie_padding_offset - 8px
    #main.wideside &
      :width = !main_column_wideside_width - 8px
      body.ie6 &
        :width = !main_column_wideside_width - !ie_padding_offset - 8px
  .column .list-item
    #main.noside &
      :width = ( !main_column_noside_width - 8px ) / 2
      body.ie6 &
        :width = ( !main_column_noside_width - !ie_padding_offset - 8px ) / 2

  .section
    :float left
    :width = !main_column_width
    body.ie6 &
      :width = !main_column_width - !ie_padding_offset
    #main.wideside &
      :width = !main_column_wideside_width
      body.ie6 &
        :width = !main_column_wideside_width - !ie_padding_offset
    #main.noside &
      :width = !main_column_noside_width
      body.ie6 &
        :width = !main_column_noside_width - !ie_padding_offset

.content-list
  ul
    :padding 0px

.list-item
  :display block
  :overflow hidden
  :float left
  .icon
    :float right

.list-thumb
  :float left
  :margin-right 1em

.list-description
  :float left
  :color #555555
  :padding-top 5px
  p
    :font-size 11px
    :margin-bottom 2px
  h3
    :margin-bottom -8px
    :margin-top -5px
    a
      :font-size 14px
      :font-weight bold
      :text-decoration none
      :color black
      &:hover
        :text-decoration underline
        :color green
  .byline
    :float left
    .icon
      :float right 
    .name
      :float left
      :font-size 11px
    .date
      :float left
      :margin-left 5px
      :padding-left 5px
      :border-left  1px solid
      :font-size 11px
    .comments
      :font-size 11px
      :float left
      :margin-left 5px
      :padding-left 5px
      :border-left  1px solid 
  .tags
    :float left
    :font-size 11px
  .issues.icon-only
    :float left 
    label
      :float left
      :font-size 11px
    .icon.small
      :float left
      :margin-top -5px

.promo
  -#:margin-top 40px
  :margin-bottom 100px 
  :padding 0px

ul.promos
  :list-style none
  :padding 0
  :margin 0
  :float left
  li
    :width = !main_column_width
    body.ie6 &
      :width = !main_column_width - !ie_padding_offset
    #main.wideside &
      :width = !main_column_wideside_width
      body.ie6 &
        :width = !main_column_wideside_width - !ie_padding_offset
    #main.noside &
      :width = !main_column_noside_width
      body.ie6 &
        :width = !main_column_noside_width - !ie_padding_offset

ul.tab-block
  :list-style none
  :padding 0
  :margin 0
  :float left
  :margin-top = !tab_block_title_offset + 3px

  :width = !main_column_width
  body.ie6 &
    :width = !main_column_width - !ie_padding_offset
  #main.wideside #maincolumn &
    :width = !main_column_wideside_width
    body.ie6 &
      :width = !main_column_wideside_width - !ie_padding_offset
  #main.noside #maincolumn &
    :width = !main_column_noside_width
    body.ie6 &
      :width = !main_column_noside_width - !ie_padding_offset

  #main.wideside #bar & 
    :width = !side_column_wideside_width - 15px
    body.ie6 &
      :width = !side_column_wideside_width - !ie_padding_offset

  #main #bar & 
    :width = !side_column_width - 15px
    body.ie6 &
      :width = !side_column_width - !ie_padding_offset

  body.ie7 &
    :padding-bottom = !tab_block_title_offset
  li
    :width 100%
    :float left
    :clear both
  .tab-titlebar
    :background = !tab_block_title_bg
    :margin-top = 0 - !tab_block_title_offset
    body.ie6 &
      :margin-top 0
  .tab-title
    :text-transform uppercase
    :background = !tab_block_title_bg
    :color = !tab_block_title
    :font-size 13px
    :font-weight bold
    :float left
    :padding .25em
    :margin-right .1em

  .tab-content
    :float left
    :clear both
    :padding 0
    body.ie7 &
      .tab-content
        :margin-left 0px

    :width = !main_column_width 
    body.ie6 &
      :width = !main_column_width - !ie_padding_offset
    #main.wideside #maincolumn &
      :width = !main_column_wideside_width 
      body.ie6 &
        :width = !main_column_wideside_width - !ie_padding_offset
    #main.noside #maincolumn &
      :width = !main_column_noside_width 
      body.ie6 &
        :width = !main_column_noside_width - !ie_padding_offset
    #main.wideside #bar & 
      :width = !side_column_wideside_width - 15px
      body.ie6 &
        :width = !side_column_wideside_width - !ie_padding_offset
    #main #bar & 
      :width = !side_column_width - 15px
      body.ie6 &
        :width = !side_column_width - !ie_padding_offset


ul.tab-block.active
  :height = !tab_block_height
  :border 1px solid
    :color = !tab_block_title_border
  #bar &
    :height = !tab_block_sidebar_height
  body.ie6 &
    :border 0px
  .tab-content
    :overflow hidden
    :height = !tab_block_height
    #bar &
      :height = !tab_block_sidebar_height
    body.ie6 &
      :border 1px
      :margin-left 0px
  .tab-content.active
    :overflow-y scroll
    :overflow-x hidden
  .tab-title
    :background = !tab_block_title_border
    :color = !tab_block_title_bg
    :border 1px solid
      :color = !tab_block_title_border
      :bottom 0
    &:hover
      :background = !tab_block_title_border + !highlight_lighter 
      :color = !tab_block_title
      :cursor pointer
  .tab-title.active
    :background = !tab_block_title_bg
    :color = !tab_block_title

  .tab-title.disabled
    :background = !tab_block_title_bg
    :color = !tab_block_disabled
    :border-color = !tab_block_disabled_border
    &:hover
      :background = !tab_block_title_bg
      :color = !tab_block_disabled
      :cursor auto
  body.ie6 &
    div.tab-title.active
      :overflow hidden

ul.tab-block, #titlebox
  .toolbar
    :float right

.toolbar.title-menu
  -#:background-color = !admin_toolbar_bg
  -#:border 1px solid
    :color = !admin_toolbar_border
  :padding-left 2px
  :padding-top 2px
  .icon
    :margin-bottom 2px
    :clear both
    :width 125px
    :margin-top 0px
    .action
      :padding-top 0
      :padding-left 28px
    input.action
      :height auto
      :color = !link_text
      :text-decoration underline
      :padding-left 25px
      :margin 0
      :font-size 12px
      :font-weight normal
      &:hover
        :color = !link_text_hover

.toolbar
  ul
    :list-style none
    :padding 0
    :float left
    :margin 0
  .offset-row.admin
    :clear both
    :padding-bottom .5em
    :background-color = !admin_toolbar_bg
    :border 1px solid
      :color = !admin_toolbar_border
    :float left 
  .icon
    :float left
    :overflow hidden
    :width 22px
    :height 22px
    :margin-right 3px
    &:hover
      :background-color = !toolbar_bg_hover
    .action
      :padding 22px 0 0 0
      :display block
      :float left
      :background-repeat no-repeat 
    input.action
      :height 50px
      :outline 0
      :border 0
      :background-color transparent
      :background-position 2px 2px
    a.create
      :background-position -5px -6px
      :background-image url(/images/actions/list-add.png)  
    a.subscribe
      :background-position 2px 2px
      :background-image url(/images/actions/rss.png)  
    a.edit
      :background-position 2px 2px
      :background-image url(/images/actions/edit.png)  
    a.invite
      :background-image url(/images/actions/announce.png)  
    .delete
      :background-image url(/images/actions/minus.png)  
    .chat
      :background-image url(/images/actions/bullhorn.png)  
    .discuss
      :background-image url(/images/gc/icons/pages/small/discussion.png)  
    .message
      :background-image url(/images/actions/mail-message-new.png)
    .action.reply
      :background-image url(/images/actions/mail-reply-sender.png)
      :background-position -1px -1px
    .action.ignore
      :background-image url(/images/actions/mail-mark-not-junk.png)
      :background-position -1px -1px
  .add, .new
    :background-position 2px 2px
    :background-image url(/images/actions/plus.png)  
    &:hover
      :background-image url(/images/actions/plus.png)  
  
  a.action
    :padding 0 0 0 22px
    :float left
    :background-repeat no-repeat 
    &:hover
      :background-color = !toolbar_bg_hover

a.icon.standard.name-bottom
  :padding-top 67px
  :height 20px
  :overflow hidden
  :font-size 10px

a.icon
  &:hover
    :opacity .7

a.icon.standard.name-right
  :padding 12px 45px 2px
  :width 100%
  :height 10px

.icon-box
  .icon
    :margin 4px

.row-listing
  :float left
  :padding 0px
  :margin 0px
  :list-style none
  .row-block 
    :float left
    :padding 2px

  .row.shade-odd
    :background-color = !row_shade_odd_bg
  .row.shade-even
    :background-color = !row_shade_even_bg
  .row-header
    :padding-top 20px
    :text-align left

.pages.row-listing
  .list-item
    :padding 2px
  ul.tab-content
    :margin-left 20px
  .row
    :width = !main_column_width - 20px
    .page_icon
      :height 100%
      .icon
        :background-position 5px 3px
    .owner
      :width 100px
      :float right
      a
        :float right
        :padding-left 4px
        &.name
          :font-size 10px
          :margin-top 5px
    .title
      :font-size 20px
    .changes
      :padding-top 2px
      :padding-bottom 2px
      :font-size 10px
