%ul.tab-block
  .toolbar
    .icon
    .icon
      = link_to 'Subscribe to Updates', "formatted_group_pages_url(source.id, :format => :rss )", :class => 'subscribe action', :title => 'Subscribe to Updates'

  %li
    .tab-title
      Blogs &amp; News
      .toolbar


    %ul.tab-content.list
      = render :partial => 'pages/list/page', :collection => source.pages.page_type(:news, :blog, :wiki )
  %li
    .tab-title
      Discussions
    %ul#apple.tab-content.list
      = render :partial => 'pages/list/discussions', :collection => source.pages.page_type(:discussion)
  %li
    .tab-title
      Events &amp; Actions
    %ul.tab-content.list
      = render :partial => 'pages/list/page', :collection => source.pages.page_type(:action_alert, :event)
- load_javascript_tabs

