%h1 Video
.section.search
  -form_tag('', :method => :get) do 
    =text_field_tag :query, h( params[:query])
    =submit_tag 'Search Content'
.content-list
  = will_paginate(@pages)
  %ul
    = render :partial => 'pages/list/page', :collection => @pages
  = will_paginate(@pages)
