- content_for :title do
  = icon_for @page
  %h1
    Add a YouTube video

.page.new.external_video
  - form_for :page, @page, :url => videos_path do |f|
    .section
      = render :partial => 'pages/form', :locals => {:f => f}
    = submit_tag 'Create', :name => 'create'
