= add_tool_page title_for_new( "Youtube Video" )
-#- content_for :title do
  .toolbar.title-menu
  = icon_for @page
  %h1
    Add a YouTube video

-#.page.new.external_video
  - form_for :page, @page, :url => videos_path , :html => { :multipart => true } do |f|
    = render :partial => 'pages/form', :locals => {:f => f}
    %p.submit
      = submit_tag 'Create', :name => 'create'
