.group-title h1 {
  padding-top: 10px;
  width: 460px;
  float: left;
  margin: .25em 0 0 0; }
.group-title .title-menu {
  padding: 1em;
  margin-top: 1em;
  float: left; }

.group-profile {
  padding: .25em;
  margin: .5em;
  float: left; }
  .group-profile .avatar {
    float: right;
    margin: .5em; }
  .group-profile .plainlist {
    float: left;
    margin-right: 1em; }

.landing-group {
  float: left; }
  .landing-group .section {
    margin: .5em 0 .5em 0;
    float: left; }

table.archive-calendar {
  color: #999;
  border: 1px solid #ccc;
  border-collapse: collapse; }
  table.archive-calendar td {
    width: 20px;
    border: 1px solid #ccc;
    text-align: center; }
    table.archive-calendar td a {
      display: block;
      font-weight: bold;
      text-decoration: none; }

div.group-entry {
  float: left;
  margin: 1em;
  margin-left: 38px;
  width: 30em; }
  div.group-entry a {
    font-weight: bold; }
  div.group-entry img {
    margin-left: -38px;
    vertical-align: top;
    float: left; }

#l-shape {
  height: 1em;
  width: 2em;
  display: block;
  float: left;
  border: 1px solid white;
  border-width: 0 0 1px 1px;
  margin-left: 10px;
  margin-top: -2px; }

table.activity {
  border-collapse: collapse; }
  table.activity td.top {
    padding-top: 7px;
    padding-left: 3px; }
    table.activity td.top a {
      text-decoration: none; }
    table.activity td.top a:hover {
      text-decoration: underline; }
  table.activity td.bottom {
    padding-bottom: 7px;
    padding-left: 3px;
    font-size: 0.8em; }
    table.activity td.bottom a {
      text-decoration: none; }
    table.activity td.bottom a:hover {
      text-decoration: underline; }
  table.activity tbody.odd {
    background-color: #f2f2f2; }
  table.activity tbody.even {
    background-color: white; }
  table.activity th {
    padding-top: 10px;
    text-align: left; }

div.landing-main-column {
  margin-right: 22em; }

div.landing-side-column {
  width: 20em;
  float: right; }

div.landing-group .section {
  float: left;
  width: 100%; }
div.landing-group .home .edit-tab {
  clear: both; }
div.landing-group .home .wiki {
  clear: both; }

.form .h1 .banner {
  padding: 8px; }
.form .h1 .group_info {
  background: url(/images/actions/beehive.png) no-repeat 100% 50%; }
.form .h1 .group_privacy {
  background: url(/images/actions/lock.png) no-repeat 100% 50%; }
.form label {
  font-weight: bold;
  display: block; }
.form p.checkbox input {
  float: left;
  margin-right: .5em; }
.form .comment {
  display: block; }

div#content h2 {
  font-size: 15px;
  color: white;
  background-color: #a8cb1c;
  padding: 5px;
  border-top: 4px solid #8a9343;
  margin-top: 5px; }

div.iconboxes div.iconbox {
  height: 95px; }

div.promo {
  background-color: #eee; }

div.profile {
  background-color: #eee; }

ul.tab-block {
  font-size: 11px;
  padding: 0pt 0pt 0pt 0pt;
  list-style-type: none; }

ul.tab-content.list {
  list-style-type: none;
  padding: 0pt 0pt 0pt 0pt; }

div#main h3 {
  font-size: 15px; }
