div#login_container {
  padding: 2em 2em 0em 2em;
  line-height: 160%;
  padding-bottom: 4em;
  float: left;
  width: 780px; }

#login_left {
  float: left;
  font-size: 15px;
  width: 60%;
  margin-left: 3em; }

#login_right {
  float: left; }

#loginformbox {
  width: 15em;
  text-align: left;
  padding: 1em 1em 1em 1em;
  border: 1px dotted #BB8B1A;
  background: #EEE9E9;
  line-height: 100%;
  float: left; }
  #loginformbox .submit {
    text-align: right; }
  #loginformbox p {
    display: block; }

#loginform table {
  margin: 0 auto; }

#signup_container {
  margin-top: 2em;
  width: 780px;
  line-height: 160%; }
  #signup_container #form_intro {
    float: left;
    font-size: 15px;
    width: 22em;
    margin-left: 3em;
    padding: 1em; }
  #signup_container #signupform {
    margin: 2em 3em 1em 3em;
    width: 20em;
    text-align: left;
    padding: 1em;
    border: 1px dotted #BB8B1A;
    background: #EEE9E9;
    float: left; }
    #signup_container #signupform input {
      width: 18em;
      font-size: 12px; }
    #signup_container #signupform p.agree input,
    #signup_container #signupform p.submit input {
      width: auto; }
    #signup_container #signupform p.submit {
      text-align: center; }
