body.me table.activity {
  border-collapse: collapse; }
  body.me table.activity td {
    padding: 5px;
    text-decoration: none; }
    body.me table.activity td a {
      padding: 5px;
      text-decoration: none; }
    body.me table.activity td a:hover {
      text-decoration: underline; }
  body.me table.activity tr.odd {
    background-color: #F2F2F2; }
  body.me table.activity tr.even {
    background-color: white; }
  body.me table.activity th {
    padding-top: 20px;
    text-align: left; }
body.me #inbox_buttons {
  text-align: right; }
