#topmenu {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid;
  border-color: #555500; }
  #topmenu ul {
    padding: 0;
    margin: 0;
    list-style: none; }
  #topmenu li {
    padding: 0px 0 0px 0; }
    #topmenu li a.menu-top {
      display: block;
      color: #e3edb9;
      text-decoration: none;
      text-transform: uppercase;
      margin-top: -1px;
      padding: 5px 6px 4px 6px;
      font-weight: bold; }
    #topmenu li a.menu:hover {
      background: #6a7b12;
      color: #ffffff; }
    #topmenu li ul {
      position: absolute;
      display: none;
      z-index: 4000;
      background: #80a010;
      padding: 0;
      width: 10.5em;
      border-bottom: 4px solid;
      border-color: #6a7b12; }
      #topmenu li ul li {
        margin: 0 0 -2px 0;
        padding: 0; }
        #topmenu li ul li a {
          color: #e3edb9;
          font-weight: bold;
          padding: 4px 1.5em 4px 1em;
          display: block;
          width: 8em;
          text-decoration: none;
          border-top: 1px solid;
          border-color: #6a7b12; }
  #topmenu li {
    float: left;
    margin: 0 4px;
    position: relative; }
    #topmenu li.first {
      margin-left: 10px; }
  #topmenu li:hover ul {
    display: block; }
  #topmenu a.selected {
    color: #ffffff;
    background-color: #6a7b12;
    border-top: 0;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #555500; }
  #topmenu a.selected:hover {
    color: #ffffff;
    background: #6a7b12; }

#toprule {
  border-top: 4px solid #6a7b12;
  background-color: #80a010;
  margin: 4px 4px 0px 4px;
  float: left;
  width: 100%; }

div#banner {
  padding: 4px 10px;
  border-bottom: 1px solid transparent; }
  div#banner img.avatar_large {
    padding-right: 10px; }
  div#banner img.avatar_small {
    padding-right: 4px; }
  div#banner h1, div#banner h3 {
    padding: 0;
    margin: 0; }
  div#banner table {
    width: 100%; }

div.iconboxes img {
  border: 1px solid #ffffff;
  float: left; }
div.iconboxes a {
  display: block;
  float: left; }
div.iconboxes div.iconbox {
  position: relative;
  width: 24px;
  height: 24px;
  float: right;
  margin: 2px; }
div.iconboxes div.iconbox.left {
  float: left; }
div.iconboxes div.hover {
  display: none; }
div.iconboxes div.iconbox:hover div.hover {
  display: inline;
  position: absolute;
  top: -5px;
  left: -5px;
  background: white;
  color: black;
  z-index: 100; }

div.online img {
  border: 1px solid yellow; }

div.iconbox div.hover div.text {
  position: absolute;
  width: 20em;
  right: 0px;
  top: 37px; }
  div.iconbox div.hover div.text span {
    background: #eeeeee;
    border: 1px solid #ffffff;
    padding: 3px; }
div.iconbox a {
  text-decoration: none;
  color: black; }

div.iconbox.left div.hover div.text {
  left: 0px; }

.pagination {
  padding: 5px 0; }
  .pagination ul {
    margin: 0;
    padding: 0;
    text-align: left; }
  .pagination li {
    list-style-type: none;
    display: inline;
    padding-bottom: 1px; }
  .pagination a, .pagination a:visited {
    padding: 0 5px 1px 5px;
    border: 1px solid #9aafe5;
    text-decoration: none;
    color: #2e6ab1; }
  .pagination a:hover, .pagination a:active {
    border: 1px solid #2b66a5;
    color: #000000;
    background-color: !pagination_link_bg_hover;
    text-decoration: none; }
  .pagination li.currentpage {
    padding: 0 5px 1px 5px;
    border: 1px solid navy;
    background-color: #2e6ab1;
    color: #ffffff; }
  .pagination li.disablepage {
    padding: 0 5px 1px 5px;
    border: 1px solid #929292;
    color: #929292; }

#top-login-prompt a {
  display: block;
  float: right;
  margin: .5em; }
  #top-login-prompt a:hover {
    background-color: #4e6956;
    color: #ffffff; }

#top-login-prompt a,
#top-login-form .submit input {
  background-color: transparent;
  color: #4e6956;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px groove;
  border-color: #4e6956;
  padding: .15em .75em .15em .75em; }

#top-login-form {
  float: right;
  margin: .5em; }
  #top-login-form label {
    color: #000000;
    font-size: 9px; }
  #top-login-form input {
    width: 8em;
    font-size: 9px; }
  #top-login-form p {
    float: left;
    margin-left: .5em; }
  #top-login-form p.submit input {
    width: auto; }

#user-menu {
  float: right;
  text-align: right; }
  #user-menu #login-name {
    margin-top: .75em;
    color: #4e6956;
    font-style: italic; }

body.ie6 #toprule li.hover ul {
  display: block; }
