body.profiles .vcard {
  float: left; }
body.profiles .show.landing > li {
  float: left;
  margin-right: 10px; }
body.profiles .show.landing h4 {
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 4px; }
body.profiles .show.landing dt {
  font-weight: bold;
  float: left;
  display: block; }
body.profiles .show.landing dd {
  padding-left: 0;
  float: left;
  margin-left: 5px; }
body.profiles .show.landing dd.mailable {
  display: block; }
body.profiles .show.landing dl {
  padding-bottom: 5px;
  float: left;
  clear: both;
  width: 193px; }
body.profiles .form-column.last .section {
  margin-bottom: 30px; }
body.profiles form .row.location {
  margin-bottom: 35px; }

body.people #titlebox h4 {
  margin-top: 8px;
  margin-bottom: 4px; }
