#assets div.busy {
  background: transparent url(/images/spinner.gif) no-repeat 9px; }
  #assets div.busy span {
    visibility: hidden; }

#bar .sidesection, #bar .section {
  border-left: 0;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  xbackground: #f9f9f9 url(/images/shadows/small-right-a.png) repeat-y right;
  margin-bottom: 1em;
  border: 1px solid white;
  background: #eee;
  padding-bottom: 4px;
  float: left; }
  #bar .sidesection img, #bar .section img {
    vertical-align: top; }
    #bar .sidesection img a.action, #bar .section img a.action {
      padding: 3px 0 3px 9px;
      text-decoration: none;
      display: block; }
    #bar .sidesection img a.action:hover, #bar .section img a.action:hover {
      text-decoration: underline;
      background: #cdf; }
    #bar .sidesection img a.action:selected, #bar .section img a.action:selected {
      font-weight: bold; }
#bar .sidehead, #bar .header, #bar h2.header {
  font-size: 12px;
  border-top: 4px solid;
  border-color: #116c90;
  font-weight: bold;
  color: white;
  padding: 4px 4px 4px 9px;
  background-color: #1c9bca;
  display: block;
  width: 230px; }
  body.ie6 #bar .sidehead, body.ie6 #bar .header, body.ie6 #bar h2.header {
    width: 220px; }
  #main.wideside #bar .sidehead, #main.wideside #bar .header, #main.wideside #bar h2.header {
    width: 355px; }
    body.ie6 #main.wideside #bar .sidehead, body.ie6 #main.wideside #bar .header, body.ie6 #main.wideside #bar h2.header {
      width: 345px; }
#bar a.header {
  background: url(/images/arrow-bullet.gif) no-repeat 97% 45%;
  background-color: #1c9bca;
  display: block; }
  #bar a.header:hover {
    background-color: #178bba; }
#bar .sideline, #bar .line {
  padding: 3px 0 3px 9px; }
  #bar .sideline a, #bar .line a {
    text-decoration: none; }
  #bar .sideline a:hover, #bar .line a:hover {
    text-decoration: underline; }
#bar .sidelink {
  padding: 3px 0 3px 9px; }
  #bar .sidelink a {
    text-decoration: none; }
  #bar .sidelink a:hover {
    text-decoration: underline; }
#bar .sidelink:selected {
  font-weight: bold; }
#bar .sidelink:hover {
  background: #cdf; }
#bar div.sidesubhead {
  border-bottom: 1px dotted #999;
  padding: 4px;
  padding-bottom: 0px;
  margin-top: 4px;
  font-weight: bold;
  color: #666; }
#bar a.sidedetails {
  font-size: 0.8em;
  display: block;
  text-align: right;
  padding-right: 4px; }
#bar div.sideinfo {
  font-size: 0.9em;
  line-height: 1.2em;
  color: black; }
#bar div.sidesubarea {
  padding: 0.5em;
  background: #cdf;
  border: 1px solid white;
  border-right: 0;
  border-left: 0;
  color: #669; }
  #bar div.sidesubarea textarea, #bar div.sidesubarea select {
    width: 190px; }
