body.tasks div.task_tool h2 {
  font-size: 1em; }
body.tasks ul.task_list {
  list-style-type: none;
  padding: 0; }
body.tasks li.task {
  clear: left; }
  body.tasks li.task div.actions {
    position: relative;
    left: -1000px;
    float: left;
    background: #ccf;
    outline: 1px solid #999;
    width: 3em;
    height: 1.4em;
    padding: 3px;
    opacity: 0.3; }
    body.tasks li.task div.actions img {
      padding: 2px 2px;
      vertical-align: bottom; }
  body.tasks li.task div.actions:hover {
    opacity: 1; }
  body.tasks li.task div.checkbox {
    float: left;
    width: 2em;
    height: 1.4em;
    padding: 3px; }
    body.tasks li.task div.checkbox input {
      margin-top: 0.3em; }
  body.tasks li.task div.name {
    padding: 3px;
    clear: right; }
    body.tasks li.task div.name span a {
      color: black;
      text-decoration: none;
      border-bottom: 1px #999 dotted;
      outline: 0; }
  body.tasks li.task div.indent {
    margin-left: 6em; }
  body.tasks li.task div.edit {
    padding: 3px; }
  body.tasks li.task .status {
    font-weight: bold;
    padding-bottom: 2px;
    margin-bottom: 2px;
    border-bottom: 1px #ff1313 solid; }
body.tasks li.task:hover div.actions {
  left: 0; }
body.tasks li#add_task_link {
  background: #eee;
  margin: 0 6em;
  padding: 4px; }
body.tasks div.task_details p, body.tasks div.task_details ul {
  margin: 0; }
body.tasks div.left-small div {
  margin-bottom: 1em; }
  body.tasks div.left-small div span {
    display: block;
    background: #eee;
    border-bottom: 2px solid #ddd;
    padding: 2px; }
  body.tasks div.left-small div a {
    display: block; }
