body.ranked_votes #progress, body.ranked_votes #instructions {
  padding: 0.5em;
  background-color: #FEA;
  border: 1px solid #EB0; }
body.ranked_votes #progress_area {
  padding: 1em;
  height: 2em; }
body.ranked_votes ul.possible_list li {
  margin: 0 3em 0 3em;
  padding: 4px 16px;
  cursor: move;
  line-height: 24px; }
  body.ranked_votes ul.possible_list li .edit {
    display: none; }
body.ranked_votes ul.possible_list li:hover {
  background: #eee; }
  body.ranked_votes ul.possible_list li:hover .edit {
    display: inline; }
body.ranked_votes li#possible_unordered {
  color: #666;
  margin-left: -2px;
  border-bottom: 2px solid #000; }
body.ranked_votes li#add_possible_link {
  margin-top: 2em;
  background: #eee;
  padding: 10px;
  cursor: default; }
body.ranked_votes div.name {
  font-weight: bold; }
body.ranked_votes div.possible_details {
  margin: 6px;
  color: #666; }
body.ranked_votes ul.possibles {
  margin: 1em; }
  body.ranked_votes ul.possibles li {
    padding: 10px 10px 14px 10px;
    clear: both;
    padding-left: 44px; }
    body.ranked_votes ul.possibles li div.rank {
      float: left;
      display: inline;
      color: #5bf;
      font-size: 36px;
      margin-left: -30px; }
  body.ranked_votes ul.possibles li.winner {
    background-color: #ffA; }
body.ranked_votes span.winner {
  display: block;
  float: right; }
