del.diffmod, del.diffins {
  color: #999;
  background-color: #ddd; }

ins.diffmod, ins.diffins {
  background-color: #cfc;
  text-decoration: none;
  color: #000; }

.wiki pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word; }
.wiki pre.code {
  background: #FFF6DD;
  border: solid 1px;
  border-color: #FFE8A9;
  padding: 0.5em; }
.wiki div.codetitle {
  background: #FFE8A9;
  color: #614B2A;
  margin-bottom: -1em;
  padding: 0.25em;
  font-weight: bold; }
  .wiki div.codetitle h1 {
    font-size: 24pt;
    line-height: 1.25em;
    margin-top: 1.5em;
    color: #666;
    border-bottom: 2px dotted #999; }
  .wiki div.codetitle h2 {
    font-size: 14pt;
    margin-top: 1.25em;
    line-height: 1.25em;
    border-bottom: 1px dashed #ccc; }
  .wiki div.codetitle h3 {
    font-size: 1.1em;
    margin-top: 0.75em; }
  .wiki div.codetitle table {
    border-collapse: collapse; }
  .wiki div.codetitle td {
    padding: 4px;
    border: 1px solid #CCC; }
  .wiki div.codetitle th {
    padding: 4px;
    border: 1px solid #CCC;
    background: #ddd; }
  .wiki div.codetitle tr.odd {
    background-color: #F2F2F2; }
  .wiki div.codetitle tr.even {
    background-color: white; }

.post pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  background: #FFF6DD;
  border: solid 1px;
  border-color: #FFE8A9;
  padding: 0.5em; }
.post div.codetitle {
  background: #FFE8A9;
  color: #614B2A;
  margin-bottom: -1em;
  padding: 0.25em;
  font-weight: bold; }

div.wiki > h1:first-child {
  margin-top: 0; }
