<h2><%= link_to image_tag('/images/actions/rss.png', :align => "right"), person_url(:action => 'discuss_rss', :id => @user) %>Discussions and Comments</h2>

<%= render :partial => 'pages/list/discussions' %>