<% unless logged_in? -%>

  This user does not have public profile.

<% else -%>


<% content_for :title do %>
  <%=render :partial => 'person/widgets/info'  %>
<% end %>



<%=
@profile = @user.profiles.visible_by(current_user)
render 'profile/show' if @profile
 
 %>



<%= render :partial => 'pages/list/table', :locals => {:heading => true} %>



<% end -%>
