.landing.landing-group
  .person_widget.section.info
    =render :partial => 'person/widgets/info'
  .person_widget.section.profile
    =render :partial => 'profile/show'
  .person_widget.section
    = render :partial => 'person/widgets/updates'

