- if logged_in? && current_user.may_admin?(@group)
  = link_to 'edit settings', edit_group_url(@group)
  = link_to 'view requests', requests_group_url(@group)
  = link_to 'destroy group', group_url(@group), :method => :delete

