<table>
<% unless controller.action_name =='show' %>
<tr>
  <td><%= avatar_for @group, 'medium' %></td>
  <td style='width:99%'><h1><%= link_to_group @group, :display_name => true %></h1></td>
</tr>
<% end -%>
 <tr>
  <td colspan='2'><%= render :partial => 'groups/tabs' %></td>
</tr>	
</table>
</div>
