.sidelink
  = link_to_icon "Today's Events",'calendar/calendar_view_day.png', day_group_events_path(@group)
.sidelink
  = link_to_icon "Week Events",'calendar/calendar_view_week.png', week_group_events_path(@group)
.sidelink
  = link_to_icon "Month Events",'calendar/calendar_view_month.png', month_group_events_path(@group)

