<div class='group-entry'>
  <%= link_to avatar_for(group, 'small'), group_url(group) -%>
  <%= link_to group.display_name, group_url(group) -%>
  <div><%= truncate(group.summary, 200) %></div>
</div>
