.group-profile
  Members:
  = @group.members.count
  - unless @group.issues.empty?
    .issues.icon-only
      Issues:
      = render :partial => 'shared/icons/issue', :collection => group.issues
  - unless @group.tags.empty?
    .tags
      Tags:
      = @group.tags.map { |tag| render :partial => 'shared/tag', :locals => { :tag => tag } }.join(', ')
  = simple_format @group.summary
