.group-profile
  = simple_format @group.summary
  Members:
  = link_to @group.members.count, group_people_url(@group) 
  - unless @group.issues.empty?
    .issues.icon-only
      %label
        Issues:
      = render :partial => 'shared/icons/issue', :collection => group.issues
  - unless @group.tags.empty?
    .tags
      Tags:
      = render :partial => 'shared/tag', :collection => @group.tags
