.group-profile
  = simple_format @group.summary
  Members:
  = link_to @group.members.count, group_people_url(@group) 
  - unless @group.issues.empty?
    .issues.icon-box
      Issues:
      = render :partial => 'shared/icons/issue', :collection => group.issues
  - unless @group.tags.empty?
    .tags
      Tags:
      = @group.tags.map { |tag| render :partial => 'shared/tag', :locals => { :tag => tag } }.join(', ')
