.toolbar
  .icon
    -# CONTEXT_USAGE - a flag for the continued use of context
    = link_to 'Create Page', new_group_page_url(source), :class => 'create action', :title => 'Create Page'
  .icon
    -# CONTEXT_USAGE - a flag for the continued use of context
    = link_to 'Subscribe to Updates', formatted_group_pages_url( source, :format => :rss ), :class => 'subscribe action', :title => 'Subscribe to Updates'

