- unless current_user.member_of? @group
  /public tools
  .sidelink
    = link_to_icon 'join group', 'actions/plus.png', new_group_membership_url(@group)
- else
  / member tools
  .sidelink
    = link_to_icon 'create page','actions/plus.png', new_group_page_url(@group)
  .sidelink
    = link_to_icon 'send invite', 'actions/announce.png', invite_group_memberships_url(@group)
  .sidelink
    = link_to_icon 'leave group', 'actions/minus.png', leave_group_memberships_url(@group)

