-content_for :title do
  .title-menu.toolbar
  = icon_for @group, :size => :large
  %h1
    Edit Group Profile

- form_for :group, @group, :url => group_path(@group), :html => { :method => :put, :multipart => true, :id =>'edit-group-form' } do |f|
  .edit.group.form
    = render :partial => 'form', :locals => {:f => f }
  %p.submit
    = f.submit 'Update'


