%h1 Groups
- unless scoped_by_context?
  -if logged_in?
    = link_to_icon 'Create a new group', 'actions/plus.png', :action => 'new' 
    .clear

    - unless @me
      - groups_overlapping = current_user.groups & @groups
      - if groups_overlapping
        -# CONTEXT_USAGE
        %h3 
          = scoped_by_context? ? "Groups you share" : "My groups"
        .workarea
          .icon-box
            =render :partial => 'shared/list/group', :collection => groups_overlapping 
          .clear
        .clear    

  %h3 Groups
  .workarea
    .icon-box
      =render :partial => 'shared/list/group', :collection => @groups
    .clear
- else
  .workarea
    .icon-box
      =render :partial => 'shared/list/group',  :collection =>@groups
    .clear
