%h1 Groups
.landing.groups
  -if logged_in?
    = link_to_icon 'Create a new group', 'actions/plus.png', :action => 'new' 
    .clear

  - unless @me
    - groups_overlapping = current_user.groups & @groups
    - if groups_overlapping
      -# CONTEXT_USAGE
      %h3 
        = scoped_by_context? ? "Groups you share" : "My groups"
      .workarea
        =render :partial => 'group', :collection => ( current_user.groups | @groups )
        .clear
      .clear    

  %h3 Groups
  .workarea
    =render :partial => 'group', :collection => @groups
    .clear
