- content_for :title do
  -if logged_in?
    .toolbar.title-menu
      .icon
        = link_to 'Create new group', new_group_path, :class => 'action new'
-#  %h1 Groups
- unless scoped_by_context?
  -if logged_in?
    - unless @me
      - groups_overlapping = current_user.groups & @groups
      - if groups_overlapping
        -# CONTEXT_USAGE
        %h1 
          = scoped_by_context? ? "Groups you share" : "My groups"
        .workarea
          .icon-box
            =render :partial => 'shared/list/group', :collection => groups_overlapping 
          .clear
        .clear    

  %h1 Groups
  .workarea
    .icon-box
      =render :partial => 'shared/list/group', :collection => @groups
    .clear
- else
  .workarea
    .icon-box
      =render :partial => 'shared/list/group',  :collection =>@groups
    .clear
