-content_for :title do
  = icon_for( @group, :size => 'standard' )
  %h2
    Create Group

.new.group
  - form_for :group, @group, :url => groups_path, :html => { :multipart => true, :id => 'create-group-form' } do |f|
    = render :partial => 'form', :locals => {:f => f }
    %p.submit
      = f.submit 'Create'

- content_for :javascript_onload do
  Form.focusFirstElement('create-group-form');
