- unless source.groups.empty?
  .section
    .header
      Groups
    .icon-box  
      - limit = extended_sidebar? ? 8 : 6
      = render :partial => 'shared/list/group', :collection => source.groups.find( :all, :limit => limit )
