.section
  .header
    Issues  
  - source.issues.each do |issue|
    .icon
      = link_to issue.name, issue_url(issue), html_options_for_icon_for( issue, :size => (local_assigns[:size] || 'standard'), :class => 'name-right' )
