-# if !source.pages.allowed(current_user).page_type(:asset).empty? and extended_sidebar?
- if extended_sidebar?

  .section
    .header
      Media
    = render :partial => 'pages/list/media', :locals => { :source => source }

