.toolbar.tabs-menu
  .icon
    = link_to 'Create page', :url => { :controller => 'pages', :action => 'new' }, :class => 'create action', :title => 'Create page'
  .icon
    = link_to 'Subscribe to updates', :url => { :format => :rss }, :class => 'subscribe action', :title => 'Subscribe to updates'
