.sidesection
  .sidehead
    access
  = render :partial => 'pages/shared/access'
  = link_to 'access details', {:controller => 'pages', :action => 'access', :id => @page}, :title => 'edit page access', :class => 'sidedetails'

