- if @page.contributors.any?
  .sidesection
    .sidehead
      contributors
    - @page.contributors.each do |u|
      .sideline
        = avatar_for u, 'xsmall'
        = link_to_user u
  = link_to 'contribution details', {:controller => 'pages', :action => 'participation', :id => @page}, :title => 'view contribution detail', :class => 'sidedetails'

