- if @page.created_by and @page.created_by.enabled?
  .section
    .header
      Created By
    .icon-box
      = render :partial => 'shared/list/person', :object => @page.created_by 
- if @page.contributors.any? and @page.contributors.size > 1
  .section
    .header
      Contributors
    -if @page.contributors.size > 1
      = render :partial => 'shared/list/person', :collection => @page.contributors
