<h1>News</h1>
Search News  |  Upload your News

<div class="promo">
<h2>Featured News</h2>
	<ul class='page-list'>
		<%= render :partial => 'pages/list/page', :object =>@media.pages.type('Tool::News') %>
	</ul>
</div>

<ul class='page-list'>
	<%= render :partial => 'pages/list/page', :object =>@media.pages.type('Tool::News') %>
</ul>

