.tabinfo
  All contact requests and memberhip requests, including requests created by you and requests for you to approve.

-#%h2
  my requests
  = render :partial => 'requests/index_section', :locals => { :requests => @my_contact_requests_sent, :more_requests_url => url_for(:action => 'mine' ) }

%h2
  contact requests
= render :partial => 'requests/index_section', :locals =>{ :requests => @my_contact_requests_received, :more_requests_url => url_for(:action => 'contacts' ), :approval_type => 'contacts'}

-#
  %h2
    membership requests
  = render :partial => 'requests/index_section', :locals => { :requests => @my_membership_requests, :more_requests_url => url_for(:action => 'memberships' ) }

  %h2
    membership requests that i have some kind of authority over
  = render :partial => 'requests/index_section', :locals => { :requests => @my_groups_memberships_requests, :more_requests_url => url_for(:action => 'memberships' ), :approval_type => 'memberships' }
