<blockquote>
<table class='page-list'>
<% unless @requests.any? -%>
  <tr><td colspan="10">no requests</td></tr>
<% else -%>
<tr class="<%= cycle('shade-odd', 'shade-even') %>">
  <% @requests.each do |req| -%><%# hello partial %>
    <td><%= req.contact.login %></td>
  <% end -%>
</tr>
<% end -%>
</blockquote>
