- if @user.may? :admin, page 
  .icon
    =link_to "Edit", "page_edit(page)" 
.icon
  = link_to 'Bookmark', 'bookmark_page(page)'
.icon
  =link_to 'Rate', 'rate_page(page)' 
.icon
  = link_to 'Recomend', 'recomend_page(page)'
