.toolbar.title-menu
  = render :partial => 'pages/menu', :locals => { :page => @page }
= icon_for(@page, :size=>'large')
%h1
  =@page.title
.section.info
  .section.summary 
    =@page.summary
    .section.date
    %label Posted:  
    = friendly_date @page.created_at  
