-#%h1
  Add new content 
.landing.content-list
  .column.form-column
    .section
      =render :partial => 'pages/new/post'
    .section
      =render :partial => 'pages/new/action'
  .column.form-column
    .section
      =render :partial => 'pages/new/media'
    .section
      =render :partial => 'pages/new/tool'
