%h1
  create a new page
.landing
  .column
    .section
      =render :partial => 'pages/new/post'
    .section
      =render :partial => 'pages/new/action'
  .column
    .section
      =render :partial => 'pages/new/media'
    .section
      =render :partial => 'pages/new/tool'