- content_for :title do
  %h2 
    Contacts 
    - if scoped_by_context?.is_a?( User )
      for 
      = scoped_by_context?.display_name

.contacts.list
  .icon-box
    =render :partial => 'shared/list/person',  :collection =>@contacts
  .clear    

