- content_for :title do
  = icon_for( @me, :size => 'medium' )
  %h1.medium Your network activity

.landing.network
  = render :partial => 'pages/shared/time_segmented_list', :locals => {:pages => @pages} 
