<h3>Events and Actions</h3>

<div class="page-class"><%= link_to "<b>event</b>: An action event",
    {:controller => 'tool/', :action => 'create',
      :group_id => params[:group_id]},
    {:style => "background: url(/images/pages/big/.png) no-repeat 0% 50%", :class => 'page-link'} %></div>

<div class="page-class"><%= link_to "<b>action alert</b>: An action alert",
    {:controller => 'tool/', :action => 'create',
      :group_id => params[:group_id]},
    {:style => "background: url(/images/pages/big/.png) no-repeat 0% 50%", :class => 'page-link'} %></div>
    
<div class="page-class"><%= link_to "<b>Petition</b>: An online petition",
    {:controller => 'tool/', :action => 'create',
      :group_id => params[:group_id]},
    {:style => "background: url(/images/pages/big/.png) no-repeat 0% 50%", :class => 'page-link'} %></div>