<h3>Organize and Discuss</h3>
<div class="page-class"><%= link_to "<b>group discussion:</b> A group discussion on a particular topic.",
    {:controller => 'tool/', :action => 'create',
      :group_id => params[:group_id]},
    {:style => "background: url(/images/pages/big/.png) no-repeat 0% 50%", :class => 'page-link'} %></div>

<div class="page-class"><%= link_to "<b>poll:</b> Rank possibilities in order of preference.",
    {:controller => 'tool/', :action => 'create',
      :group_id => params[:group_id]},
    {:style => "background: url(/images/pages/big/.png) no-repeat 0% 50%", :class => 'page-link'} %></div>

<div class="page-class"><%= link_to "<b>task list:</b> A list of todo items.",
    {:controller => 'tool/', :action => 'create',
      :group_id => params[:group_id]},
    {:style => "background: url(/images/pages/big/.png) no-repeat 0% 50%", :class => 'page-link'} %></div>