%p
  -#~ f.textile_editor :body, :size => '60x40'
  ~ f.text_area :body, :size => '60x40'
  = render :partial => 'tool/wiki/formatting_link'
  = f.hidden_field :lock_version

- load_markitup_library
- content_for :javascript_onload do
  jQ$('#page_page_data_body').markItUp(mySettings);
