%p
  -#~ f.textile_editor :body, :size => '60x40'
  #editor-howto.form-help
    %p
      The editor below uses textile, a simple code to mark up your text for presentation.
    %p
      To preview your work as it will appear on the page, click the checkmark on the right side of the toolbar.
    %p
      To learn more about formatting your pages, click the link "formatting reference" below the window.
    = link_to "Stop showing this message", "", :class => 'delete icon'
  ~ f.text_area :body, :size => '60x40'
  = render :partial => 'tool/wiki/formatting_link'
  = f.hidden_field :lock_version

- load_markitup_library
- content_for :javascript_onload do
  jQ$('#editor-howto a.delete').click( function(ev) { jQ$('#editor-howto').slideUp(300); ev.preventDefault(); } );
  jQ$('#page_page_data_body').markItUp(mySettings);
  jQ$('#editor-howto').show(300); 
