- article = @page.data
.section.post
  -if @page.primary_image && @page.primary_image.public_filename(:pic)
    = image_tag  @page.primary_image.public_filename(:pic), { :class => 'picture'}
  = article.body_html
.clear  
