- content_for :title do
  = render :partial => 'pages/title'

- article = @page.data
.section.page-content
  -if  @page.primary_image && @page.primary_image.public_filename(:pic) 
    = image_tag  @page.primary_image.public_filename(:pic), { :class => 'picture'}
  = article.body_html
.clear  

= render :partial => 'pages/comments'

