.section.email_addresses
  %h2
    Email addresses
  .behavior-block.list
    - for email_address in email_addresses
      = render :partial => 'profiles/form/email_address', :locals => { :email_address => email_address, :f => f, :profile => profile }

    = render :partial => 'profiles/form/email_address', :locals => { :email_address => profile.email_addresses.build, :f => f, :profile => profile  }
    .row
      .toolbar.js-only
        = link_to 'Add Email Address', new_profile_email_address_path(profile), :class => 'remote new action'
