.section.web_resources
  %h2
    Web Services 
  .behavior-block.list
    - for web_resource in web_resources
      = render :partial => 'profiles/form/web_resource', :locals => { :web_resource => web_resource, :f => f, :profile => profile }
    = render :partial => 'profiles/form/web_resource', :locals => { :web_resource => profile.web_resources.build, :f => f, :profile => profile }
    .row
      .toolbar.js-only
        = link_to 'Add web service', new_profile_web_resource_path(profile), :class => 'remote new action'

