%p
  = f.label :recipients, "Email addresses of your friends seperated by commas"
  = f.text_area :recipients, :size => '40x7'
.section
  %p
    = f.label :body, "Your message"
    = f.text_area :body

