.icon
  = link_to 'create page ', new_page_path, :class => 'action add', :title => 'Create Page'
.icon
  = link_to 'send_message', new_message_path, :class => 'action message', :title => 'Send Message'

