.icon
  = link_to 'Create page ', new_page_path, :class => 'action create', :title => 'Create Page'
.icon
  = link_to 'Send message', new_message_path, :class => 'action message', :title => 'Send message'

