%h1
  Connect
%h2
  Groups
.workarea
  .icon-box
    =render :partial => 'shared/list/group', :collection => Group.find(:all, :limit => 100)
.clear
%h2 People
.workarea
  .icon-box
    =render :partial => 'shared/list/person', :collection => User.find(:all, :limit => 100)
.clear

