- content_for :title do
  = icon_for @me, :size => :medium
  %h1.medium
    Invite your friends to the Green Change Network  
  = error_messages_for :invite

.section
  -#
    Currently we are not allowing invitations until the network is live to the general public.

.new.invite.form
  - form_for :invite, @invite, :url => send_invitation_me_path do |f|
    = render :partial => 'me/invite_form', :locals => { :f => f }
    %p.submit
      = f.submit "Send"

