= link_to 'formatting_reference', '/static/greencloth', :target => 'blank', :id => 'formatting-reference-link'

- content_for :javascript_onload do
  jQ$('#formatting-reference-link').click( function(ev) { quickRedReference(); return false; } );
