= f.hidden_field 'lock_version'
= f.textile_editor 'body', :size => '80x35'
%div
  %a{:style => "float: right", :href => "javascript:quickRedReference();"} formatting reference

= textile_editor_initialize
