- @show_posts = false

- form_for(:page, @page, :url => wiki_path(@page), :html => {:method => :put}) do |f|
  .workarea
    = render :partial => 'pages/form', :locals => {:f => f}
  .formbox
    - fields_for(@wiki) do |wiki|
      = render :partial => 'form', :locals => {:f => wiki}
  = submit_tag 'Save', :name => 'save'
  = link_to 'Cancel', break_lock_wiki_url(@page), :method => :post
