- if @page.is_a?(Tool::Event)
  .icon
    - unless current_user.pages_attending.include? @page
      = button_to 'Attend', event_attendees_path(@page), :method => :post, :class => 'action attend', :title => 'Attend this event'
    - else
      = button_to 'Cancel RSVP', event_attendee_path(@page), :method => :delete, :class => 'action cancel', :title => 'Cancel my RSVP for this event'

  - if current_user.may? :admin, @page
    .icon
      = link_to 'Invite People', new_event_invitation_path(@page), :class => 'action invite', :title => 'Invite people to this event'
    

