<%= calendar_date_select_includes "blue" %>
<script src="/javascripts/calendar.js"></script>

<div class='workarea'>

<% form_tag(event_url(@page), :method => :put, :multipart => true) do %>

<%= render :partial => 'form' %>

<% end %>

</div>

