.section.issues
  %h4
    Issues
  .behavior-block
    - Issue.standard_set.chunk(2).each do |column_issues|
      .column
        = render :partial => 'shared/form/list/issue', :locals => { :f => f }, :collection => column_issues
    

