.section.languages
  %h4
    Languages
  .behavior-block
    - ProfileHelper::LANGUAGES.chunk(2).each do |column_languages|
      .column
        - column_languages.each do |(key, name)|
          = render :partial => 'shared/form/list/language', :locals => { :f => f, :language_key => key, :language_name => name }
