.section.languages
  %h4
    Languages
  .behavior-block
        
    .column
      - column_1_of_2(ProfileHelper::LANGUAGES).each do |(key, name)|
        = render :partial => 'shared/form/list/language', :locals => { :f => f, :language_key => key, :language_name => name }
    .column
      - column_2_of_2(ProfileHelper::LANGUAGES).each do |(key, name)|
        = render :partial => 'shared/form/list/language', :locals => { :f => f, :language_key => key, :language_name => name }
    


