<div id="posts">

<%= will_paginate @posts, :param_name => :posts %>

<% for post in @posts do -%>
  <%= render :partial => 'posts/post', :locals => {:post => post} %>
<% end -%>
<% if logged_in? -%>
<%= render :partial => 'posts/reply' %>
<% end -%>

<% if @posts.next_page %>
<p style="float:right;"><%= link_to "Next page", { :posts => @posts.next_page }.merge(params.reject{|k,v| k=="posts"})  %></p>
<% end %>

<%= will_paginate @posts, :param_name => :posts %>

</div>
