.section.post
  .post-author
    .icon
      = icon_for current_user, :size => 'small'
    .username
      = link_to_user current_user
  .post-body
    = render :partial => 'posts/form', :locals => {:post => reply}
