.section.post
  .post-author
    .icon
      = icon_for(@user.current, :size=>'small')
    .username
      = link_to_user @user.current
  .post-body
    = render :partial => 'posts/form', :locals => {:post => reply}
