%h2 Events and Actions
.section
  =link_to icon_for(Tool::Event.new), new_event_url
  %h4
    =link_to 'Event', new_event_url   
.section
  =link_to icon_for(Tool::RankedVote.new), new_poll_url
  %h4
    =link_to 'Poll', new_poll_url
-#
  .section
    =link_to icon_for(Tool::ActionAlert.new), new_action_url
    %h4
      =link_to 'Petition', new_action_url
