%h2 Create a new media file
.section
  =link_to icon_for(Tool::Video.new), new_video_url
  %h4
    =link_to 'Video', new_video_url   
  .post_description
.clear
.section
  =link_to icon_for(Tool::Image.new), new_photo_url
  %h4
    =link_to 'Images', new_photo_url
  .post_description
.clear
.section
  =link_to icon_for(Tool::Audio.new), new_audio_url
  %h4
    =link_to 'Audio', new_audio_url
  .post_description
.clear

