%p
  = f.label :recipients, "Email addresses of your friends seperated by commas"
  = f.text_area :recipients, :size => '40x7'
.section
  %p
    = f.label :body, "Your message"
    = f.text_area :body, :value => "Come and check out the Green Change Network at http://network.greenchange.org.\n\nThe Green Change Network is a community of people with Green values:\njustice, grassroots democracy, sustainability and non-violence.\n\nI just joined. You will love it."
