%p
  = f.label :recipients, "Email addresses of your friends seperated by commas"
  = f.text_area :recipients, :size => '40x7'
.section
  %p
    = f.label :body, "Your message"
    = f.text_area :body, :value => "Come and check out the Green Change Network at http://network.greenchange.org. It is not open yet to the general public.  Even though there are a few bugs and bumps being worked out, you will love it."

