-#%h1 Take Action Today
.landing.content-list
  .column
    %h2 Attend an event
    -#=link_to 'Add an event', new_event_url, :class => 'add'
    -#=link_to 'Search for an event', '/search/event', :class => 'search'
    -#.clear
    .section
      %ul.list
        =render :partial => 'pages/list/page', :collection => Page.allowed(current_user).page_type(:event).find(:all, :limit=>25, :order=> "created_at desc")
  .column.last_column
    %h2 Take action
    -#=link_to 'Post an action alert', new_action_url, :class => 'add'
    -#=link_to 'Search for an event', '/search/action', :class => 'search'
    -#.clear
    .section
      %ul.list
        =render :partial => 'pages/list/page', :collection => Page.allowed(current_user).page_type(:action_alert).find(:all, :limit=>25, :order=> "created_at desc")
