<div class="section">
  <table>
    <tr>
      <td class="label" valign="top">
        <%= _('Issues') -%>
      </td>
      <td class="form">
        <table>
          <tbody id="profile_websites">
            <%= issue_selector(@entity) %>
          </tbody>
        </table>
      </td>
    </tr>
  </table>
</div>
