.section.password
  %h3 Update My Password
  %p
    = content_tag :label, _("New password"), :for => "user_password"
    = f.password_field :password
  %p
    = content_tag :label, _("New password again"), :for => "user_password_confirmation"
    = f.password_field :password_confirmation
