<blockquote>
  <b>contact invitation from <%= @contact_request.contact.login %> to <%= @contact_request.user.login %></b>
<% if @contact_request.resolved? %>
<div>
   This request was <b><%= @contact_request.approved? ? 'approved' : 'rejected' %></b>
   on <%= @contact_request.updated_at %>
</div>
<% else %>
<%= button_to 'approve', :action => 'approve', :id => @contact_request %>
<%= button_to 'reject', :action => 'reject', :id => @contact_request %>
<% end  %>
<p>
</p>
</blockquote>

