.section.donate
  = link_to image_tag( 'http://www.greenchange.org/img/original/contribute_button.gif', { :alt => 'Donate to Green Change', :width => '250px' } ), 'https://salsa.wiredforchange.com/o/1488/t/338/shop/custom.jsp?donate_page_KEY=1930', :target => 'blank', :align =>'center', :border => 0
