.section.donate
  .header
    Donate give us money 
  = link_to image_tag( '/images/gc/donate/greenpeace.png', { :alt => 'Donate to Greenpeace' } ), 'https://secureusa.greenpeace.org/securedonate/', :target => 'blank'
  give us money
  my promise to spend it real nice like