.section.donate
  .header
    Donate
  = link_to image_tag( '/images/gc/donate/greenpeace.png', { :alt => 'Donate to Greenpeace' } ), 'https://secureusa.greenpeace.org/securedonate/', :target => 'blank'
