.section.donate
  = link_to image_tag( 'http://www.greenchange.org/img/greenchg_index_cnavs_on_05.gif', { :alt => 'Donate to Green Change' } ), 'http://www.greenchange.org/img/greenchg_index_cnavs_on_05.gif', :target => 'blank', :align =>'center', :border => 0