- if extended_sidebar?
  .section
    .header.events
      Events
      -#Media
    -#= render :partial => 'pages/list/media', :locals => { :source => source }
    %ul.tab-block.no-all-block
      %li
        %ul.tab-content.list
          = render :partial => 'pages/list/page', :collection => Page.send( *context_finder(source)).page_type( :event).find( :all, :limit => 10, :order => 'created_at DESC' )

