- if extended_sidebar?
  .section
    .header.events
      Events
    - unless (events = Page.send( *context_finder(source)).page_type( :event).find( :all, :limit => 10, :order => 'created_at DESC' )).empty?
      %ul.scrollable-nav
        %li
          %ul.tab-content.list.tab-content-active
            = render :partial => 'pages/list/page', :collection => events
    - else
      .section.no_content_section
        .padding
          %p
            It's time to 
            = link_to "create an event.", new_event_path
          %p
            None have been added yet.
