.section.donate
  = link_to image_tag( 'http://www.greenchange.org/img/original/invite_button.gif', { :alt => 'Invite friends to Green Change', :width => '250px' } ), new_network_invitation_path, :target => 'blank', :align =>'center', :border => 0
