- unless featured_users(source).empty?
  .section.featured-people
    = link_to "Featured people", scoped_path( :people ), :class => 'header' 
    .icon-box    
      - user_count = extended_sidebar? ? 8 : 9
      = render :partial => 'shared/list/person', :collection => featured_users(source, user_count)
