- unless featured_users(source).empty?
  .section
    = link_to "Featured people", scoped_path( :people ), :class => 'header' 
    .icon-box    
      = render :partial => 'shared/list/person', :collection => featured_users(source, 8)
