.section
  %table
    %tr
      %td.label{ :valign => "top" }
        = _('Descriptions')
      %td.form
        %table
          %tbody#profile_notes
            - profile.notes.each_with_index do |note, index|
            = render :partial => 'note', :locals => { :note => note, :index => index }
            - end
        = add_row_link 'Add Description'.t, 'add_note'
