.section
  %table
    %tr
      %td.label{ :valign => "top" }
        = _('IM Addresses')
      %td.form
        %table
          %tbody#profile_im_addresses
            - profile.im_addresses.each_with_index do |im_address, index|
            = render :partial => 'im_address', :locals => { :im_address => im_address, :index => index }
            - end
        = add_row_link 'Add IM Address'.t, 'add_im_address'
