<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/ DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <title><%=h title_from_context %></title>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'navigation' %>
  <%= stylesheet_link_tag 'page' %>
  <%= stylesheet_link_tag 'ui' %>
  <%= stylesheet_link_tag 'shared' %>
  <%= stylesheet_link_tag 'sidebar' %>
  <%= stylesheet_link_tag 'print', :media => 'print' %>
  <%= stylesheet_link_tag stylesheet if stylesheet %>
  <%= stylesheet_link_tag 'greenchange' %>
  <!-- local styles -->
  <%= yield :stylesheet %>
  <style type="text/css">
    <% yield :style %>
  </style> 
</head>

<body class="<%=controller.controller_name%>">
  <div id="container">

    <div id="header">
      <%= link_to "skip navigation", "#maincolumn", :class => 'screen-reader' -%>
      <%= render 'layouts/login' -%>
      <div id="logo"></div>
      <%= render 'layouts/menu' -%>
    </div>

    <div id="main" class="<%= "wideside" if extended_sidebar? %>">
      <div id="maincolumn">
        <%= render :partial => 'shared/messages' %>
        <%= render :partial => 'shared/location' %>
        <div id="content">
          <div id="titlebox">
            <%= yield :title %>
          </div>

          <%= yield %>
          
          <%= render :partial => 'shared/content_footer' %>
          
        </div>
      </div>
      <div id="bar">
        <%= render 'layouts/sidebar' %> 
      </div>
      <br class="clear"/>
    </div>

    <br class="clear"/>
    <div id="footer">
      <%= render 'layouts/footer' %>
    </div>
  </div>
</body>
<%= render :partial => 'shared/ie' %>
<%= yield :javascript %>
</html>
