<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/ DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <% if rss_available? -%>
    <link rel="alternate" type="application/rss+xml" title="Subscribe RSS" href="<%= request.request_uri -%>.rss"> 
  <% end %>
  <title><%= html_title %></title>
  <%# javascript_include_tag :defaults %>
  <%= stylesheet_link_tag :all, :cache => true %>
  <%# stylesheet_link_tag 'application' %>
  <%# stylesheet_link_tag 'navigation' %>
  <%# stylesheet_link_tag 'page' %>
  <%# stylesheet_link_tag 'chat' %>
  <%# stylesheet_link_tag 'events' %>
  <%# stylesheet_link_tag 'show' %>
  <%# stylesheet_link_tag 'profile' %>
  <%# stylesheet_link_tag 'errors' %>
  <%# stylesheet_link_tag 'toolbar' %>
  <%# stylesheet_link_tag 'groups' %>
  <%# stylesheet_link_tag 'forms' %>
  <%# stylesheet_link_tag 'login' %>
  <%# stylesheet_link_tag 'shared' %>
  <%# stylesheet_link_tag 'inbox' %>
  <%# stylesheet_link_tag 'sidebar' %>
  <%# stylesheet_link_tag 'ui' %>
  <%# stylesheet_link_tag 'greenchange' %>
  <%= yield :stylesheet -%>
</head>

<body class="<%=controller.controller_name%>">
  <div id="container">

    <div id="header">
      <%= link_to "skip navigation", "#maincolumn", :class => 'screen-reader' -%>
      <%= render 'layouts/login' -%>
      <div id="logo"></div>
      <%= render 'layouts/menu' -%>
    </div>

    <div id="main" class="<%= "wideside" if extended_sidebar? %><%= "noside" if no_sidebar? %> ">
      <div id="maincolumn">
        <%= render :partial => 'shared/messages' %>
        <div id="content">
          <div id="titlebox">
            <%= yield :title %>
          </div>

          <%= yield %>

        </div>
      </div>
      <%  unless no_sidebar? %>
       <div id="bar">
        <%= render 'layouts/sidebar' %> 
      </div>
      <% end %>
      <br class="clear"/>
    </div>

    <br class="clear"/>
    <div id="footer">
      <%= render 'layouts/footer' %>
    </div>
  </div>
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-2114244-3");
    pageTracker._initData();
    pageTracker._trackPageview();
  </script>
</body>
<%= jquery_library %>
<%= yield :javascript %>
<% if onload_script = yield( :javascript_onload )-%>
  <script type='text/javascript'>
    jQ$( function() { 
      <%= onload_script %>
    } );
  </script>
<% end -%>
<%= render :partial => 'shared/ie' %>
<%= render :partial => 'shared/google_analytics' %>
</html>
