<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <% if rss_available? -%>
    <link rel="alternate" type="application/rss+xml" title="Subscribe RSS" href="<%= request.request_uri -%>.rss"> 
  <% end %>
  <title><%= html_title %></title>
  <%= stylesheet_link_tag :all, :cache => true %>
  <%= yield :stylesheet -%>
</head>

<body class="<%=controller.controller_name%>">
  <div id="container">

    <div id="header">
      <%= link_to "skip navigation", "#maincolumn", :class => 'screen-reader' -%>
      <%= render 'layouts/login' -%>
      <a href="/"><div id="logo"></div></a>
      <%= render 'layouts/menu' -%>
    </div>

    <div id="main" class="<%= "wideside" if extended_sidebar? %><%= "noside" if no_sidebar? %> ">
      <div id="maincolumn">
        <%= render :partial => 'shared/messages' %>
        <div id="content">
          <div id="titlebox">
            <%= yield :title %>
          </div>

          <%= yield %>

        </div>
      </div>
      <%  unless no_sidebar? %>
       <div id="bar">
        <%= render 'layouts/sidebar' %> 
      </div>
      <% end %>
      <br class="clear"/>
    </div>

    <br class="clear"/>
    <div id="footer">
      <%= render 'layouts/footer' %>
    </div>
  </div>
  <%= render :partial => 'shared/google_analytics' %>
<%= jquery_library %>
<%= yield :javascript %>
<% if onload_script = yield( :javascript_onload )-%>
  <script type='text/javascript'>
    jQ$( function() { 
      <%= onload_script %>
    } );
  </script>
<% end -%>
<%= render :partial => 'shared/ie' %>
</body>
</html>
