.links
  = link_to "Contact us", "http://greenchange.org/form.php?id=57", :class => 'first'
  = link_to "Sitemap", "http://greenchange.org/sitemap.php"
  = link_to "About us", "http://greenchange.org/section.php?id=3"
  = link_to "Credits", "http://greenchange.org/credits"
.clear
