<% content_for :style do -%>
table.members td {padding: 4px;}
table.members td a {padding: 4px;}
<% end -%>

<% if current_user.may_admin?(@group) -%>
<%= render :partial => 'admin' %>
<% end -%>

<% if committee? -%>
<%= render :partial => 'committee' %>
<% end -%>

<h2>current <%=@group_type%> members</h2>

<table class='members'>
<tr>
  <th>User</th>
  <th>Joined</th>
  <th>&nbsp;</th>
</tr>
<%= render :partial => 'membership', :collection => @group.memberships %>

</table>

